<section class="userLogin">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h1>Log me in and DOGOOD</h1>
        <%= form_for :session, url: login_path do |f| %>
          
          <ul>
            <li><%= f.label :email %></li>
            <li><%= f.text_field :email %></li>
          </ul>

          <ul>
            <li><%= f.label :password %></li>
            <li><%= f.password_field :password %></li>
          </ul>

          <ul class="pushDown30">
            <li><%= f.submit %></li>
          </ul>
       </div>
      <% end %>
      <div class="col-sm-6">
    </div><!-- row -->
  </div><!-- container -->
</section>