<%= form_for :comment, url: user_post_comment_path(@comment.user_id, @comment.id, @comment.post_id), method: :comment do |f| %>
    <div>
      <li><%= f.label :body %></li>
      <li><%= f.text_field :body %></li>
    </div>

    <div>
      <%= f.submit %>
    </div>
  </div>
  <div><%= link_to 'Show', user_post_path(@comment.user_id, @comment.post_id) %></div>
<% end %>
