<h1>My comments page</h1>
 
<h2>Add a comment:</h2>
	<%= form_for @comment do |f| %>
  		<p>
		    <%= f.label :body %><br>
		    <%= f.text_area :body %>
  		</p>
  		<p>
    		<%= f.submit %>
  		</p>
	<% end %>


<%= link_to 'create a new comment', new_user_post_comment_path %>
<%= link_to 'Back', user_posts_path %>
	<% if current_user && current_user.admin == true %>
	<%= link_to 'edit comment', new_user_post_comments_path %>
	<% end %>
