<%= form_for :comment do|f| %>
    <div>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  </div>
  <div><%= link_to 'Show Posts', user_posts_path( current_user.id ) %></div>
<% end %>