<h1>This is the show page!</h1>
   <div>
      <%= comment.name %>
      <%= comment.name %>
    </div>

    <div>
      <%= comment.email %>
      <%= comment.email %>
    </div>

    <div>
      <%= comment.body %>
      <%= comment.body %>
    </div>
<%= link_to "Back to home", root_path %>