<section class="postShow">
  <div class="container">
    <div ="row">
      <div class="col-sm-12">

      <h1>This is a comment!</h1>
        <p>
          <strong>Title:</strong>
          <%= @post.title %>
        </p>
        <ul>
          <strong>Content:</strong>
          <li><%= @post.content %></li>
        </ul>
        </br>
        <h2>Add a comment:</h2>
          <%= form_for([post_id, @post.comments.new]) do |f| %>
          <ul>
            <li><%= f.label :body %></li>
            <li><%= f.text_area :body %></li>
          </ul>
          <p>
            <%= f.submit %>
          </p>
          <% end %>

        <%= link_to 'Edit', edit_user_post_path(@user, @post) %> 
        <%= link_to 'Back', user_posts_path %>

        </div>
    </div>
  </div>
</section>