<section>
  <div class="container">
    <div ="row">
      <div class="col-sm-12 text-center">
        <h1>Editing post</h1>
        <div>
        <%= form_for [@user, @post] do |f| %>
            <ul>
              <li><%= f.label :title %></li>
              <li><%= f.text_field :title %></li>
            </ul>
            <ul>
              <li><%= f.label :content %></li>
              <li><%= f.text_field :content, class: "paddedInput" %></li>
            </ul>

            <ul>
              <li><%= f.submit %></li>

            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

