<h1>My Blog Posts!</h1>
  <div="postConainter">
    <div class="postList">
      <% @posts.each do |post| %>
        <div class="postTitle"><%= post.title %></div>
        <br>
        <div><%= post.content %></div>
        <br>
    </div>

        <% if current_user.id == post.user_id || current_user.admin == true %>
          <%= link_to 'Edit Post', edit_user_post_path(@user.id, post) %>|
          <%= link_to 'Delete Post', delete_user_post_path(@user.id, post), method: :delete %>|
          <%= link_to 'Add comment', user_post_comments_path(@user.id, post) %>
        <% end %>
        </br>

       <% end %>
  </body>
  <% if current_user %>
    <ul class="pushDown30">
    <%= link_to 'New Post', new_user_post_path(@user) %> 
    </ul>
  <% end %>