<h1>Upload a post</h1>
<div class="form-control">
<%= form_for :post do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
      <div>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </div>


    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
