<h1>My Daily Gratitiude!</h1>
<h2>Write your thanks</h2>
<ul>

	<li><%= @post.title %></li>
	<li><%= @post.content %></li>
</ul>
<ul>
	<% @post.comments.each do |comment| %>
		<li><%= comment.body %></li>
	<% end %>
</ul>


<%= link_to 'Edit', edit_user_post_path(@user, @post) %>|
<%= link_to 'Back', user_posts_path %>|
<%= link_to 'Add comment', new_comment_path(@user.id, @post) %>